{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Цитаты{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'quotes/style.css' %}">
</head>
<body>
    <header>
        <h1><a href="{% url 'quotes:random_quote' %}">🎬 Цитаты</a></h1>
        <nav>
            <a href="{% url 'quotes:random_quote' %}">Главная</a>
            <a href="{% url 'quotes:add_quote' %}">Добавить цитату</a>
            <a href="{% url 'quotes:top_quotes' %}">Топ-10 цитат</a>
            <a href="{% url 'users:login' %}">Войти</a>
            <a href="{% url 'users:profile' %}">Профиль</a>
        </nav>
    </header>
        {% if messages %}
    <div class="messages-container">
        {% for message in messages %}
        <div class="message message-{{ message.tags }}">
            {{ message }}
            <button class="message-close" onclick="this.parentElement.style.display='none'">×</button>
        </div>
        {% endfor %}
    </div>
    {% endif %}
    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>© 2025 @VladislavnaSpb  https://github.com/NVLev</p>
    </footer>
</body>
</html>
